<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <button class="europa">
            <a href="{% url 'europa' %}">página inicial</a>
        </button>
        <h1 class="name">França</h1>
        <img src="https://cdn.icon-icons.com/icons2/1694/PNG/512/frfranceflag_111874.png" alt="">
        <h3 class="init">Conheça a culinaria francesa.</h3>
        



    <style>
        .name{
            text-align: center;
            color: brown;
        }
        .init{
            text-align: center;
        }

    </style>   
    
    </header>
    
    
</body>
</html>